.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.hero-bg {
  background-image: url("../src/Assets/meditation.jpg");
  background-size: cover;  /* Ensures the entire image fits */
  background-repeat: no-repeat; /* Prevents tiling */
  width: 100%;  /* Set width */
  height: 750px; /* Set height as per your requirement */
  text-align: center;

}